$button-sup-tny:		rem-calc(2);

.management-icons {
	text-align: center;
	& + * {
		margin-top: rem-calc(15);
	}
}
.ajax-spinner {
	background-image: url("../images/ring-alt.svg");
	background-size: contain;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 20px;
}
.dashicons,
.dashicons-before:before {
	width: 18px;
	height: 18px;
	font-size: 18px;
	color: lighten($black, 20%);
}

.dashicons-x2 {
	width: 36px;
	height: 36px;
	font-size: 36px;
}

.text-primary {
	color: $primary-color;
}

.text-secondary {
	color: $secondary-color;
}

.text-alert {
	color: $alert-color;
}

.text-success {
	color: $success-color;
}

.text-warning {
	color: $warning-color;
}

.text-info {
	color: $info-color;
}

.center {
	width: 150px;
	margin: 40px auto;	
}

button,
.button {
	max-height: 50px;
	&.super-tiny {
		@include button-size($button-sup-tny);
	}
	&.working {
		background-image: repeating-linear-gradient(-45deg, $button-bg-color 0%, $button-bg-color 25%, lighten($button-bg-color, 15%) 25%, lighten($button-bg-color, 15%) 50%, $button-bg-color 50%, $button-bg-color 75%, lighten($button-bg-color, 15%) 75%, lighten($button-bg-color, 15%) 100%);
		@include animation( loading-stripes 2s linear infinite );
		background-size: 50px 50px;
	}
	i + span {
		margin-left: 5px;
	}
	i.dashicons {
		color: inherit;
	}
	i, span {
		display: inline-block;
		vertical-align: middle;
	}
}

@include keyframes(loading-stripes) {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -150px 0px;
	}
}